page-about {
  margin: auto auto;

  h1{
      color: gray;
  }

  ion-card{
      border-radius: 13px !important;
  }

  div {
    margin: auto;
  }

  .cards{
      p{
        margin: 5px;
        font-size: 25px;
        color: #357FC2;
      }
  }
}
