page-about {

    h1{
        color: gray;
    }

    ion-card{
        border-radius: 13px !important;
    }

    .cards{
        p{
            margin: 10px;
            font-size: 25px;
            color: #357FC2;
        }
    }
}
