page-shortpapers {
    h1{
        margin: 15px;
        font-size: 25px;
        color: gray;
    }
    ion-card{
        margin-bottom: 25px !important;
        .title{
            font-size: 18px;
        }
    }   
}
