.cards{
    .titlePdf{
        font-size: 5vw !important;
        text-align: justify;
        padding: 1vw;
        color: $black;
        font-weight: 500;
    }
    .authorsPdf{
        font-size: 4vw !important;
        text-align: justify;
        padding: 1vw;
        color: $gray;
        font-weight: 500;
    }
}
.btnPdf{
    border-radius: 15px !important;
    background-color: $blue !important;
    color: #fff !important;
    margin: 0 auto !important;
}