.cards{
    .titlePdf{
        font-size: 5vw !important;
        text-align: justify;
        padding: 1vw;
        color: $black;
        font-weight: 500;
    }
    .authorsPdf{
        font-size: 4vw !important;
        text-align: justify;
        padding: 1vw;
        color: $gray;
        font-weight: 500;
    }
}