page-contact {

    .frame {
        max-width: 30%;
        max-height: auto;
        border-radius: 50%;
    }

    .box {
        display: flex;
        align-items: center;
    }

    .about {
        background-color: lightgray;

        span {
           font-size: 15px !important;
        }

    }

    .speakerName {
        font-size: 5vw !important;
        //margin: 0 0 0 2vw !important;
        //padding-top: 10px;
        color: white;
        text-align: center;
        vertical-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .speakers {
        margin: 25px
    }

    .speaker {
      background-color: #003366;
        //background-color: #7085D8;
        border-radius: 3%
    }

    h1 {
        margin: 10vw 0 0 2vw;
    }

    ion-list {
        //margin: 5vw 0 0 0;
        padding: 0 0 10vw 0;
    }

    .contactTitle{
        font-size: 4vw;
        font-weight: 2vw;
        text-align: center;
        color: black;

    }

    .contact {
        border: 0 0 0 0 !important;
        font-size: 3vw !important;
        color: #357FC2;
    }
}
