page-contact {

    .frame {
        max-width: 25%;
        max-height: auto;
        border-radius: 50%;
    }

    .box {
        display: flex;
        align-items: center;
    }

    .about {
        background-color: lightgray;

        span {
           font-size: 15px !important; 
        }
        
    }
    .contact{
        ion-list-header{
            text-align: center;
            font-size: 6vw !important;
            color: $black;
        }
        ion-item{
            border: none !important;
            font-size: 5vw !important;
            color: #357FC2 !important;
        }
    }
    .speakerName {
        width: 75%;
        font-size: 5vw !important;
        font-weight: 500;
        margin: auto 4vw !important;
        display: block;
        color: $black;
        text-align: center;
    }
    .speaker {
        background-color: #7085D8;
        border-radius: 3%
    }
}
