page-home {
  margin: auto auto;

    h1{
        margin: 15px;
        font-size: 25px;
        color: gray;
    }

    div {
      margin: auto;
    }

    ion-card{
        border-radius: 13px !important;
        background: #ffffff !important;
        box-shadow: 0px 0px 2px 1px rgba(78, 78, 78, 0.479) !important;
    }

    .cards{
        p{
            margin: 5px;
            font-size: 25px;
            color: #357FC2;
            text-align: center;
        }
    }


    .participants{
        align-items: center;

        .name{
            font-size: 18px;
        }

        .description{
            color: gray;
        }

        .title{
            color: gray;
            font-family: cursive;
        }

        img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
            margin: 25px;
        }
    }

    hr {
      height: 1px !important;
      width: 500px !important;
      background: gray !important;
      display: block !important;
      font-size: 2em !important;
      opacity: 0.5 !important;
      visibility: visible !important;
    }

}
