// http://ionicframework.com/docs/theming/
$yellow : #FFFF00;
$darkBlue : #002366;

.card{

  margin: 5vw auto 5vw auto !important;
  border-radius: 15px !important;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.16) !important;

  //margin-bottom: 25px !important;
  .pdfTitle{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
    color: $yellow;
  }

  .pdfAuthor {
    color: white;
    padding-bottom: 12px;
  }

  .pdfCard {
    border-radius: 2%;
    background-color: $darkBlue;
    text-align: center;
  }

  .pdfBtn {
    border-radius: 10px !important;
    //background-color: $blue !important;
    //color: #fff !important;
    margin: 0 auto !important;
  }

  .place{
    font-weight: 500;
    font-size: 6vw !important;
    color: white !important;
    text-align: center;
  }
  .time{
    font-weight: 500;
    font-size: 3.8vw !important;
    color: $yellow !important;
    text-align: center;
  }
  .activity{
    font-weight: 500;
    font-size: 4vw !important;
    color: lightblue !important;
    text-align: center;
  }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
