<ion-header>
  <ion-toolbar>
    <ion-title> GRADUATE COLLOQUIUM </ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- PAPERS -->
  <ion-card>
    <ion-card-content>
        <p class="title">Titulo</p>
        <p class="subtitule">Lorem impsun insup lorem lorem ipsum xd </p>
        <ion-button >Abrir PDF-LOCAL</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- END-PAPERS -->
</ion-content>
