<ion-header>
  <ion-toolbar>
    <ion-title> FULL AND SHORT PAPERS </ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- PAPERS -->
  <ion-card>
    <ion-card-content>
        <p class="title">Titulo bien mamon</p>
        <p class="subtitule">Lorem impsun insup lorem lorem ipsum xd </p>
        <ion-button >Abrir PDF-LOCAL</ion-button>
        <!--<button ion-button full (click)="goBack()">Back</button>-->
    </ion-card-content>
  </ion-card>
  <!-- END-PAPERS -->
</ion-content>