<ion-header>
  <ion-toolbar>
    <ion-title>MexIHC 2018</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- CARDS -->
  
  <h1>Papers</h1>
  
  <ion-card>
    <ion-card-content>
        <p>FULL AND SHORT PAPERS</p>
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-content>
      <p>GRADUATE COLLOQUIUM</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
      <p>STUDENTS DESIGN COMPETITION</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
      <p>POSTERS</p>
  </ion-card-content>
</ion-card>
<!-- END-CARDS -->
</ion-content>
